/* Button Section Styling */
#submitSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5vh;
    margin-top: .5vh;
    border-bottom: 1px black solid ;
    padding-bottom: 3rem;
}


/* Button Styling */
#submitButton {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    display: inline-block;
    border-radius: 13px;
    padding: 0.5rem;
    background-color: rgba(0, 132, 255, 0.664);
    border: 2px black solid;
}

#submitButton:hover{
    background-color: rgba(0, 132, 255, 0.87);
}

#selectLanguage {
    display: flex;
    justify-content: center;
}

#language {
    text-align: center;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border: 2px black solid;
    border-radius: 13px ;
    margin: 0.5rem;
}

#userWait {
    display: flex;
    justify-content: center;
}

.popup {
    text-align: center;
    font-weight: 700;
    width: fit-content;
    padding: 0.5rem 2rem;
    border: 2px black solid;
    background-color: rgba(255, 0, 0, 0.327);
    border-radius: 13px ;
    margin: 0.5rem;
    margin-top: 2.5vh;
    font-size: 1.25em;
}