footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
}

#userName, #userSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10rem;
}

#photoProfile {
    width: 10rem;
}
#userName h5, #userSocial h5 {
    font-weight: 700 ;
}

#userSocial {
    align-items: center;
}
.socialIcons {
    margin: 1vh ;
}

@media screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    #userName, #userSocial {
        justify-content: center;
        align-items: center;
    }
    #userName {
        margin-bottom: 1rem;
    }
    #submitSection {
        margin-bottom: 0;
    }
}