#logoSection{
    display: flex;
    justify-content: center;
}

#logoCoverLetter{
    width: 7rem;
    margin: 1rem;
    border-radius: 50%;
}

#fontRegistration, #fontLogin {
    font-weight: 700;
    font-size: 3rem;
    margin: 2rem;
    color: var(--textColor);
}

#registrationInput, #loginInput{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
#registrationForm, #loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#registrationForm input, #loginForm input{
    text-align: center;
    padding: 0.5rem;
    border: 2px var(--textColor) solid;
    border-radius: 13px ;
    margin: 0.5rem;
}

#RegistrationButton, #LoginButton{
    margin-top: 1rem;
}

#RegistrationButtonChange, #LoginButtonChange{
    margin-top: 0rem;
}

#LoginButton, #LoginButtonChange{
    padding-left: 2rem;
    padding-right: 2rem;
}

#orAccount{
    margin: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--textColor);
}